body {
    background-color: #e2e4f4;
}

#map {
    width: 100%;
    height: 600px;
    border: 10px solid #fff
}

h1 {
    font-size: 70px;
    margin: 0;
    font-family: 'Chicle';
    color: #F44336;
}

h4 {
    color: #1A237E;
    font-weight: bold;
}

.footer {
    text-align: center;
    margin-top: 15px;
}

.social {
    display: none;
}

.attribution {
    color: #666;
}


.btn-primary {
    background-color: #1A237E;
    border-color: #1A237E;
    color: #fff;
}

.donate .btn-primary {
    background-color: #1A237E;
    border-color: #1A237E;
}

.btn-primary a {
    color: #fff;
}

#truck .btn-primary {
    font-size: 24px;
}

.description {
    font-style: italic;
    font-size: 16px;
    display: inline-block;
}

.info-content {
    display: none;
}

#save-button {
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 20px;
}

#social {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 400px;
}

#social div {
    margin-right: 15px;
    margin-bottom: 5px;
}

.map-row {
    position: relative;
    margin-top: 15px;
}

td.number {
    text-align: right;
}

table.metrics {
    width: 300px;
}


/* Share Links */

.btn-tweet{
    background: #00aced;
    color: #fff;
}

B.btn-tweet:active, .btn-share:active, .btn-tweet:hover, .btn-share:hover, .btn-tweet:visited, .btn-share:visited
 {
    color: #fff;
}

.btn-share {
    background: #3b5998;
    color: #fff;
}

.popup-share {
    text-align: center;
}
.popup-share .btn-tweet {
    margin-right: 10px;
}

.fa-twitter, .fa-facebook-official {
    color: #fff;
}

/* hides X for info windows */

.gm-style-iw + div{display: none !important;}

.cluster-marker {
    text-align: right !important;
    padding-right: 15px;
    line-height: 22px !important;
    font-weight: bold;
}

.tooltip-content {
    text-align: center;
}

.post-save-share {
    margin-top: 5px;
}

@media all and (max-width: 768px) {
    #social {
        left: 170px;
    }
    #map {
        border: 5px solid #fff
        height: 400px;
    }
    h1 {
        font-size: 60px;
    }
}

@media all and (min-width: 769px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
}
