body {
    background-color: #F0E7DB;
    color: #525252;
    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    z-index: 0;
}

body::after {
    background-image: url('../images/noise-texture.png');
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.headline {
    margin-top: 5px;
}

@media(min-width: 768px) {
    .header {
        margin: 0 0 40px;
    }
}

.map-wrapper {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
    padding: 15px;
}

#map {
    width: 100%;
    height: 400px;
}


.footer {
    text-align: center;
    margin-top: 15px;
}

.social {
    display: none;
}


.btn-primary {
    background-color: #1496f2;
    color: #fff;
}

.donate .btn-primary {
    background-color: #254da3;
    border-color: #254da3;
}

.btn-primary a {
    color: #fff;
}

#truck .btn-primary {
    font-size: 24px;
}

.description {
    padding-top: 20px;
}

.info-content {
    display: none;
}

#save-button {
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 20px;
}

#social {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 200px;
}

#social div {
    margin-right: 15px;
    margin-bottom: 5px;
}

.map-row {
    position: relative;
}
